body {
	background: transparent;
    font-family: Sans-Serif;
    max-width: 100%;
	margin:0;
	padding-right: 2px;
	color: white;
	text-align: center;	
}

#index-page  {
	margin:5px;
	max-width: 700px;
	background-color: black;
}
#intro  {
   background-image: url('disc.png');
    background-repeat: no-repeat;
    background-position: 50% 0%;
}
h1,h2 {
    text-shadow: 3px 3px #000000;
}
#status_div{
	font-size: 24px;
	text-shadow: 3px 3px #000000;
}
.tablecss{
	width:300px;
	margin-left:auto; 
    margin-right:auto;
}
#returndata{
	margin-left:auto; 
    margin-right:auto;
text-align: center;	
}

#iframenav{
	width:100%;
	height:400px;
	border-style: none;	
}
/* gradient specific stuff */
.gradient {
    height: 20px;
	color:black;
    background: linear-gradient(to right, rgba(240,240, 240,255), rgba(240,240, 240,255));
}
/* box outline */
.gradient, .boxed  {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
/* std button */
.button {
    height: 44px;
	width: 44px;
	background-color: #404040;
	text-align: center;
	font-size: 12px;
	opacity: 0.9;
}

.subbutton {
    height: 44px;
	width: 118px;
	background-color: #404040;
	text-align: center;
	font-size: 12px;
	color: white;
	opacity: 0.9;
}
/* width of stuff */
.gradient,.boxed{
 width:100%;
}
.text_input{
 width:99%;
}
/* grayed out stuff */
#old_text{
background-color: #F0F0F0;
text-align: center;
}
#new_text{

text-align: center;
}
.boxed {
height: 350px;
}

#blame,#rightclick,#leftclick {
font-size: small;
}

