body {
	background: transparent;
    font-family: Sans-Serif;
    max-width: 100%;
	margin:0;
	padding-right: 2px;

}

#index-page  {
    font-family: Sans-Serif;
	margin:5px;
	 max-width: 700px;
}

/* gradient specific stuff */
.gradient {
    height: 10px;
    background: linear-gradient(to right, rgba(0,0, 0,0), rgba(0,0, 0,0));
}
/* box outline */
.gradient, .boxed  {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
/* std button */
.button {
    width: 100px;
}
/* width of stuff */
.gradient,.boxed,.text_input{
 width:100%;
}
/* grayed out stuff */
#old_text{
background-color: #F0F0F0;
}

.boxed {
height: 350px;
}

#blame {
font-size: small;
}